extends layout

block content

	div(id="total-points")
		span(data-bind="text: pointsText")

	div(id="milestone-banner", data-bind="template: { name: 'milestone-template', foreach: milestones }")
		div(style="float:none;clear:both;")

	div(id="container")
		div(style="float:left;", data-bind="template: { name: 'user-list-template', foreach: users }" )
		div(data-bind="template: { name: 'status-column-template', foreach: columns }" )

	script(id='milestone-template', type='text/html')
		<a data-bind="text: title, click: function() { $root.selectMilestone(id) }, attr: { class: 'milestone-link ' + (($root.milestone().id == id) ? 'selected' : '') } " />

	script(id='user-list-template', type='text/html')
		<div class="user-list">
		<img data-bind="attr: { src: picture }" style="height: 10px, width: 10px;" height="16px" width="16px"/>
		<span data-bind="text: name, attr: { title: name}" />
		</div>

	script(id='status-column-template', type='text/html')
		<div class='status-column'>		
		<span data-bind="text: label, attr: { title : name }" />
		<span class='ticket-estimate' data-bind="text: points, attr : { title : 'Total Points'}" />
		<div data-bind="template: { name: 'ticket-template', foreach: tickets }" />
		</div>

	script(id='ticket-template', type='text/html')
		<div class='ticket' data-bind="attr : { class : 'ticket ' + custom_fields['Type'], number : number }">
		<span class='ticket-link'><a data-bind="text: '#' + number, attr : { href: 'https://www.assembla.com/spaces/brightpt/tickets/' + number + '#/activity/ticket', target : '_blank' }" /></span>
		<span class='ticket-estimate right' data-bind="text: estimate, attr: { title : 'Estimate' }" />
		<div data-bind="text: summary" />
		<div class="user-label" data-bind="text: $root.findUser(assigned_to_id).name, attr : { id : assigned_to_id, number: number }" />
		<div class="user-label" data-bind="text: $root.findUser(custom_fields['Offsider']).name, attr : { id : custom_fields['Offsider'], number: number }" />
		</div>

	script(src='/javascripts/jStorage.js')
	script(src='/javascripts/cardWallModel.js')
	script(type='text/javascript')		
		$(function(){ 

			var model = new CardWallModel('#{token}');
			ko.applyBindings(model);

			model.loadUsers();
			model.loadMilestones();

			setTimeout(function() { model.refresh(); }  , 30000);
		});
