extends layout

block content
	div(id="milestone-banner", data-bind="template: { name: 'milestone-template', foreach: milestones }")
		div(style="float:none;clear:both;")

	div(id="container")
		div(data-bind="template: { name: 'status-column-template', foreach: columns }" )

	script(id='milestone-template', type='text/html')
		<a data-bind="text: title, click: function() { $root.selectMilestone(id) }, attr: { class: 'milestone-link ' + (($root.milestone().id == id) ? 'selected' : '') } " />

	script(id='status-column-template', type='text/html')
		<div class='status-column'>
		<span data-bind="text: label" />
		<div data-bind="template: { name: 'ticket-template', foreach: tickets }" />
		</div>

	script(id='ticket-template', type='text/html')
		<div class='ticket' data-bind="attr : { class : 'ticket ' + custom_fields['Type'] }">
		<a data-bind="text: '#' + number, attr : { href: 'https://www.assembla.com/spaces/brightpt/tickets/' + number + '#/activity/ticket' }" />
		<span data-bind="text: summary" />
		<div class="user-label" data-bind="text: $root.findUser(assigned_to_id).name" />
		<div class="user-label" data-bind="text: $root.findUser(custom_fields['Offsider']).name" />
		</div>

	script(src='/javascripts/jStorage.js')
	script(src='/javascripts/cardWallModel.js')
	script(type='text/javascript')		
		$(function(){ 

			var model = new CardWallModel('#{token}');
			ko.applyBindings(model);

			model.loadUsers();
			model.loadMilestones();

			setTimeout(function() { model.refresh(); }  , 30000);
		});
